:root {
    --color-light: #ffffff;
    --color-dark: #070B33;
    --subtitle-color: #ffffff56;

    --btn-start-gradient-color: #BC1FEF;
    --btn-end-gradient-color: #0035FF;
    --bg-start-gradient-color: #00B5FF;
    --bg-middle-gradient-color: #632AF7;
    --bg-end-gradient-color: #FF96F4;

    --color-left-pseudo-element: #FD94F4;
    --color-right-pseudo-element: #01B4FF;

    --radius: 100px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    color: var(--color-light);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/images/fallback/bg3x.jpg');
    background-image: -webkit-image-set(
            url('../assets/images/webp/bg2x.webp') 2x,
            url('../assets/images/webp/bg3x.webp') 3x
    );
    display: flex;
    flex-direction: column;
    height: 100svh;
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    padding: 16px 0;
    background-color: transparent;
}

main {
    padding-bottom: 34px;
    flex-grow: 1;
}
