/* ==================== */
/* Блок: promo-banner */
/* ==================== */
.promo-banner__header,
.promo-banner__main {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
}

/* Элемент: close-button */
.promo-banner__close-button {
    position: fixed;
    top: 64px;
    left: 16px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Элемент: title */
.promo-banner__title {
    font-family: 'SF Pro', sans-serif;
    font-size: 42px;
    font-weight: 860;
    line-height: 46px;
    text-align: center;
    color: var(--color-light);
    text-shadow: 0 0 3rem rgba(4, 3, 26, 0.83);
    padding-bottom: 24px;
}

/* Элемент: subscriptions */
.subscriptions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Элемент: continue */
.promo-banner__continue {
    color: var(--color-dark);
    font-size: 20px;
    font-weight: 590;
    line-height: 24px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 16px 0;
    background-color: var(--color-light);
    border-radius: var(--radius);
    margin: 16px auto 34px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.promo-banner__continue:hover {
    background-color: #f0f0f0;
}

.promo-banner__continue:active {
    transform: scale(0.98);
}

/* Элемент: footer */
.promo-banner__footer {
    display: flex;
    justify-content: center;
    gap: 52px;
}

/* Элемент: footer-link */
.promo-banner__footer-link {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 200;
    font-size: 13px;
    line-height: 18px;
    color: var(--color-light);
    opacity: 0.3016;
    text-decoration: underline;
    white-space: nowrap;
}

.promo-banner__title, .benefits__title {
    white-space: normal;
    word-break: break-word;
}

/* ==================== */
/* Блок: benefits */
/* ==================== */
.benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-bottom: 34px;
}

/* Элемент: item */
.benefits__item {
    position: relative;
    font-family: 'SF Pro', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
}

.benefits__item img {
    width: 106px;
    height: auto;
}

/* Элемент: title */
.benefits__title {
    position: absolute;
    bottom: 12px;
    left: 8px;
}

/* ==================== */
/* Блок: subscription */
/* ==================== */
.subscription {
    background-color: rgba(37, 32, 48, 0.808);
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 10px 24px;
    border: 1px solid transparent;
    border-radius: 56px;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    border 0.3s ease-in-out;
}

/* Модификатор: active */
.subscription.subscription--active {
    border: 1px solid var(--color-light);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10.87px);
}

.subscription.subscription--active .subscription__badge {
    background: var(--color-light);
    color: var(--color-dark);
}

.subscription.subscription--active .subscription__badge::before {
    display: none;
}

.subscription.subscription--active.subscription--highlighted::before,
.subscription.subscription--active.subscription--highlighted::after {
    display: none;
}

/* Модификатор: highlighted */
.subscription--highlighted {
    color: var(--color-light);
    backdrop-filter: blur(10.87px);
    position: relative;
    border-radius: var(--radius);
}

.subscription--highlighted::before {
    content: '';
    position: absolute;
    top: 0;
    left: 95px;
    width: calc(100% - 120px);
    height: 1px;
    background: linear-gradient(
            80deg,
            transparent 0%,
            var(--color-left-pseudo-element) 40%,
            var(--color-left-pseudo-element) 100%
    );
}

.subscription--highlighted::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    border-radius: 0 var(--radius) var(--radius) 0;
    box-shadow: inset 0 1px 0.5px 0 var(--color-right-pseudo-element);
    clip-path: inset(0 0 0 50% round 0 var(--radius) var(--radius) 0);
}

/* Элемент: badge */
.subscription__badge {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    color: var(--color-light);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: 24px;
    width: 119px;
    height: 20px;
    border-radius: var(--radius);
    background: linear-gradient(90deg, var(--btn-start-gradient-color) 0%, var(--btn-end-gradient-color) 100%);
    z-index: 1;
}

.subscription__badge::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
    background: linear-gradient(270deg, var(--bg-start-gradient-color) 0%, var(--bg-middle-gradient-color) 53.01%, var(--bg-end-gradient-color) 100%);
    mask: linear-gradient(var(--color-light) 0 0) content-box, linear-gradient(var(--color-light) 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    padding: 1px;
}

/* Элемент: title */
.subscription__title {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
}

/* Элемент: yearly */
.subscription__yearly {
    font-weight: 400;
}

/* Элемент: subtitle и price */
.subscription__subtitle,
.subscription__price {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--subtitle-color);
}