body {
    font-family: var(--font-family-primary), sans-serif;
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    color: var(--color-light);
}

h1 {
    font-family: var(--font-family-primary), sans-serif;
    font-weight: var(--font-weight-superbold);
    line-height: var(--line-height-small);
    font-size: var(--font-size-xlarge);
    margin: 0;
}

p, span, a {
    font-family: var(--font-family-primary), sans-serif;
    line-height: var(--line-height-base);
}

.features__title {
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-light);
}

.subscription__best-offer {
    font-family: Roboto, sans-serif;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-extrabold);
}

.subscription__title {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
}

.subscription__subtitle,
.subscription__price {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-light);
    color: var(--subtitle-color);
}

.banner__continue {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
    color: var(--color-dark);
}

.banner__footer {
    opacity: 0.3016;
    font-weight: var(--font-weight-extralight);
    font-size: var(--font-size-small);
    line-height: var(--line-height-extralarge);
    text-decoration: underline;
}

.footer__link {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: 0;
}

.subscription__price,
.subscription__best-offer,
.banner__footer {
    white-space: nowrap;
}