/* Медиа-запросы для iPhone SE и iPhone 8+ */
@media (max-width: 414px) {
    .main {
        padding-bottom: 8px;
    }

    .benefits {
        padding-bottom: 26px;
        gap: 4px;
    }

    .benefits__title {
        left: 9px;
    }

    .promo-banner__title {
        padding-bottom: 16px;
    }

    .promo-banner__continue {
        margin: 8px auto 28px;
    }

    .promo-banner__close-button {
        top: 37px;
    }

    .promo-banner__footer {
        gap: 26px;
    }
}

/* Стили для языков */
[lang="de"] .promo-banner__footer .promo-banner__footer-link,
[lang="fr"] .promo-banner__footer .promo-banner__footer-link {
    font-size: 11px;
}

[lang="de"] .promo-banner__footer .subscription__title,
[lang="de"] .promo-banner__footer .subscription__price,
[lang="fr"] .promo-banner__footer .subscription__title,
[lang="fr"] .promo-banner__footer .subscription__price {
    font-size: 15px;
}

[lang="fr"] .promo-banner__title,
[lang="pt"] .promo-banner__title {
    font-size: 30px;
    line-height: 34px;
}

[lang="de"] .promo-banner__title {
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 30px;
}





