:root {
    --color-light: #ffffff;
    --color-dark: #070B33;
    --btn-start-gradient-color: #BC1FEF;
    --btn-end-gradient-color: #0035FF;
    --bg-start-gradient-color: #00B5FF;
    --bg-middle-gradient-color: #632AF7;
    --bg-end-gradient-color: #FF96F4;
    --subtitle-color: #ffffff56;

    --font-family-primary: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-secondary: 'Roboto', sans-serif;

    --font-size-xsmall: 0.75rem; /* 12px */
    --font-size-small: 0.8125rem; /* 13px */
    --font-size-base: 1rem; /* 16px */
    --font-size-large: 1.25rem; /* 20px */
    --font-size-xlarge: 2.625rem; /* 42px */

    --font-weight-extralight: 200;
    --font-weight-light: 400;
    --font-weight-regular: 590;
    --font-weight-bold: 600;
    --font-weight-extrabold: 700;
    --font-weight-superbold: 860;


    --line-height-small: 1;
    --line-height-base: 100%;
    --line-height-large: 1.2;
    --line-height-extralarge: 1.3846;
}